- content_for :title_tag, "Let's Order - Get Friends Together And Order Takeaway"
- content_for :bodyid, "body_homepage"
.tagline
	.title
		:markdown
			*Hungry?* Arrange Your Takeaway Order  
			with Colleagues or Friends. Get started here:
.content
	= render :partial => '/orders/form'
.sidebar
	.widget
		:markdown
			# How to organise your lunch or dinner:
			---
			
			* Fill in the form on this page
			
			* Send out the link
			
			* Call the restaurant and make your order
			
.clear
