= form_for(@order) do |f|
	.fields
		- if @order.errors.any? 
			.error_explanation
				#p Please fix these problems with the form:
				#ul
					- @order.errors.full_messages.each do |msg| 
						#li
							*
							=msg			
		.field
			= f.label :name, 'Your Name' 
			= f.text_field :name 
		.field
			= f.label :what, 'What' 
			= f.text_field :what 
		.field
			= f.label :whenby, 'Order by' 
			= f.text_field :whenby 
		.field
			= f.label :menu, 'Menu' 
			= f.text_field :menu 
		.field
			= f.label :currency, 'Currency' 
			= f.text_field :currency 
		.field
			= f.label :also, 'Additional Info'
			= f.text_area :also
		.actions
			= f.submit
			
