

	<div class="title"><%=h yield(:title) %></div>
<div class="main">
	<p><strong><%= @order.what %></strong> ~ order by <%= @order.whenby %><%= ". #{@order.also}" if not @order.also.to_s.empty?  %>. <i> ~ menu:</i> <span id="menu"><%= @order.menu %></span>
	</p>

	<div class="standardbox">
<%= yield :ordercontent %>
	</div>

</div>
<script>
	$(function() {
		$('#menu').html(urlize($('#menu').html(), {
			nofollow : true,
			autoescape : true
		}));
	}); 
</script>
