%h2 Share:				
%p
	Share this link with anyone else who wants to order:
%p.link
	%img(src="http://qrfree.kaywa.com/?l=1&s=2&d=#{u polymorphic_url(@order, :routing_type => :url)}" alt="QRCode")
	%br
	=polymorphic_url(@order, :routing_type => :url)
