-content_for :title_tag, "Finialise the order" 
.content
	.widget
		%h1 Finalise Order:
		-if @teamOrderItems.any?
			%h2 Everyone	
			%table.finalise
				%thead
					%tr
						%th Description
						%th Price
						%th Quantity
					-@teamOrderItems.each do |item|
						%tr
							%td=item.desc
							%td="#{@order.currency}#{item.price}"
							%td=item.qty
		%h1 Orders By Person:
		-if @order.orderPeople.any?
			-@order.orderPeople.each do |person|
				%h2=person.name	
				-if person.orderItems.any?
					%table.finalise
						%thead
							%tr
								%th Description
								%th Price
								%th Quantity
						%tbody
						-person.orderItems.each do |item|
							%tr
								%td=item.desc
								%td="#{@order.currency}#{item.price}"
								%td=item.qty
				-else
					Nothing ordered by 
					=person.name	
			
.sidebar
	.widget
		%h1 Details
		%hr
		%p= @order.what
		-if !@order.whenby.blank?
			%p
				%strong Please order by
				= @order.whenby
			
		-if not @order.also.blank?
			%p= @order.also
		
		-if not @order.menu.blank?		
			%p		
				%strong	Menu:
				%span#menu= @order.menu
		=render :partial => 'share'
		%h2 Go back:
		%p
			To edit your order,  
			=link_to "click here", @order
.clear
:javascript
	$(".shareurlinput").click(function() {
		$(this).select();
	});
