.title
	- if havePerson
		Your order, <strong>#{@orderPerson.name}</strong>:
		-content_for :title_tag, "Your order, #{@orderPerson.name}" 
	- else
		Order your food
		-content_for :title_tag, "Order your food" 
.content
	- if session[:tellfriends] == true
		.widget
			%h1 You're the organiser, so here is what you need to do:
			%p 
				%strong Step 1: 
				Send the link below (via email, sms or pigeon) to the people who want to order.
			%input.shareurlinput(readonly type="text" value="#{polymorphic_url(@order, :routing_type => :url)}")
			.actions(style="margin-bottom:20px")
				%a.buttonylink(href="#{polymorphic_url(@order, :hidetellfriends => 'y', :routing_type => :url)}") OK I have sent the link
			%p
				%strong Step 2: 
				Fill in your order too
			%p
				%strong Step 3: 
				Click the manage button on the right to finalise the entire group order.
	- else
		- if @orderPerson.orderItems.any? 
			.widget
				%h1 Your order so far
				%hr
				%table.ordereditems
					=render @orderPerson.orderItems
					%tr
						%td
							%i total
						%td						
							%i 
								= @order.currency
								= number_with_precision(itemsTotalForPerson(@orderPerson.orderItems), :precision => 2) 
				.actions
					%input.submit#finishedmyorder(name="finishedmyorder" type="submit" value="I'm done!")
		
		- if not havePerson		
			.widget
				%h1 Start your order
				= render :partial => '/order_person/form'
		- else
			= form_for( [@orderPerson, @orderItem] , :class => 'additemform', :url => { :action => 'createitem', :controller => 'orders', :key => @order.key }) do |f| 
				.fields
					- if @orderItem && @orderItem.errors.any?
						.error_explanation
							%p
								=pluralize(@orderItem.errors.count, "error")
								prevented this item from being saved:
							%ul
								-@orderItem.errors.full_messages.each do |msg|
									%li= msg 
					
					- if @orderPerson.orderItems.any? 
						%h1 Add your next item:			
					- else
						%h1 Add your first item:
					%hr
						
					.field
						= f.label :desc, 'Description' 
						= f.text_field :desc 
					.field
						= f.label :price, "Price (#{@order.currency})" 
						= f.text_field :price 
					.field
						= f.label :qty, 'Quantity' 
						= f.text_field :qty 
					.actions
						= f.submit 'Add', :class => 'submit'
					.clear
		.widget
			%h1 Team Order:
			%hr
			%div
				-if @teamOrderItems != nil && @teamOrderItems.any?
					%table.teamordereditems
						= render :partial => '/order_items/order_item_team', :collection => @teamOrderItems 
						%tr
							%td
								%i total
							%td
								%i 
									= @order.currency 
									= number_with_precision(itemsTotalForPerson(@order.orderItems), :precision => 2)
				-else
					%p Nothing has been ordered yet
.sidebar
	.widget
		%h1 Details
		%hr
		%p= @order.what
		-if !@order.whenby.blank?
			%p
				%strong Please order by
				= @order.whenby
			
		-if not @order.also.blank?
			%p= @order.also
		
		-if not @order.menu.blank?		
			%p		
				%strong	Menu:
				%span#menu= @order.menu
		- if not session[:tellfriends] == true
			=render :partial => 'share'
			%h2 Finialise:
			%p
				To manage the entire order and finalise 
				=link_to "click here", :controller => "orders", :action => "manageall"
			
			
.clear

