<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto+Condensed" %>

<script language="JavaScript">
	function resizeInput() {
		$(this).attr('size', $(this).val().length);
	}

	$(function() {
		$('#url-box').keyup(resizeInput).each(resizeInput).attr('readonly', 'readonly').click(function() {
			$(this).select()
		});
	});

</script>

<div class="title">
	<h1>Your order page is now ready. Share it with your friends.</h1>
</div>
<div class="main">
	<h2><%= @order.what %></h2>
	<div id="linktobox" class="standardbox">
		<label for=url-box>Give your friends this link to add their orders:</label>
		<input class="fancytextfield" type="text" id="url-box" value="<%= polymorphic_url(@order, :routing_type => :url)%>"/>
	</div>
	<div class="">
		<label>Share:</label>
		<div class="sendoption">
			<a href="mailto:?subject=<%= u @order.what %>&body=<%= u "Hi All,\n\nWe are ordering #{@order.what}. Please get your orders in before #{@order.whenby} otherwise you will miss out. \r\n\r\nTo order visit this link: #{polymorphic_url(@order, :routing_type => :url)}" %>">Click here to send email</a>
		</div>
	</div>
	<div class="standardbox">
		<label>Order:</label>
		<a href="<%= polymorphic_url(@order, :routing_type => :url)%>">Finally... click here to make YOUR order</a>
	</div> 	
</div>
