<%= form_for( @orderPerson , :url => { :action => 'createperson', :controller => 'orders', :key => @order.key }) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :name, 'Your name' %>
    <%= f.text_field :name, :class => 'homepagetextfield' %>
  </div>
  <div class="actions">
    <%= f.submit 'GO', :class => 'homepagetextfield'%>
  </div>
<% end %>
