<%= form_for( [@order, @orderItems] ) do |f| %>
  <div class="field">
    <%= f.label :name, 'Enter your full name' %>
    <%= f.text_field :name, :class => 'homepagetextfield' %>
  </div>
  <div class="actions">
    <%= f.submit 'GO', :class => 'homepagetextfield'%>
  </div>
<% end %>
