%tr
	%td= order_item.desc
	%td
		= order_item.qty
		@
		= number_with_precision(order_item.price, :precision => 2)
	%td= link_to "remove", :controller => "orders", :action => "removeitem", :orderitemid => order_item.id
