%tr
	%td= order_item_team.desc
	%td #{order_item_team.qty} @ #{@order.currency}#{number_with_precision(order_item_team.price, :precision => 2)}
	%td	
		- if havePerson
			= link_to "add to mine", :controller => "orders", :action => "copyitem", :orderitemkey => order_item_team.key 
