// total_width means css width + border + padding
// inner_width means css width

$color_atlassian_blue: #205081;
$color_sienna: #887653;
$color_grey: #777;

$maincontainer_inner_width: 800px;
$content_total_width: 500px;
$sidebar_total_width: 300px;

// =======================
// Mixins
// =======================
@mixin widgetborder {
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 20px;
	margin-bottom:10px;
}

// =======================
// General Layout Elements
// =======================
body
{
	font-family:Arial,sans-serif;
	background-color:#f5f5f5;
}
.main
{
	font-family:Arial, san-serif;	
}
.maincontainer
{
	@include widgetborder;
	width:$maincontainer_inner_width;
	padding:20px;
	background-color: white;
	margin:auto;
	margin-bottom:50px;
}
.topbar
{
	margin:0 0 20px 0;
	padding:0px 0px 0px 5px;
	height:30px;
	background-color: $color_atlassian_blue;
	border-bottom: solid black 1px;
	color:#FFF;
}
.topbar p
{
  padding-top:9px;
  padding-left:5px;
  font-size:12px;
}
.content
{  
  margin:10px;
  float:left;
  display:block;
  width:$content_total_width - 22px;
}
.widget
{
  @include widgetborder;
  background-color:#f5f5f5;
}
.sidebar
{
	margin:10px;
	width:$sidebar_total_width - 22px; 
	float:left;
	height:400px;
	display:block;
}
.tagline
{
	width:$maincontainer_inner_width;
	margin-bottom:25px;
}
// todo replace with a better way
.standardbox
{
	margin-top:10px;
} 
// =======================
// Form elements
// =======================
$label_input_gap: 20px;

.fields
{
	@include widgetborder;
}
.field
{
	height:20px;
	margin-bottom:15px;
}
.field label
{
	width:100px;	
	float:left;
	text-align:right;
	display:block;
	padding-top:4px;
	font-size:14px;
	color:$color_grey;
}
.field input[type=text]
{
	height:20px;
}
.field input[type=text],
.field textarea
{
	margin-left:$label_input_gap;
	float:left;
	display:block;
	padding-left:8px;  
	border: 1px solid #ccc;
	border-radius: 3.01px;
	box-shadow: inset 0 1px 3px #ccc;
  font-family: Arial;
  font-size: 13px;
}

.field textarea
{	
	width:285px;
	height:100px;
	padding-top:8px;
  margin-bottom: 15px;
}

.clear,
.actions
{
	clear:both;
}

.actions
{
  text-align:right;
}

#order_item_price
{
  width:60px;
}
#order_item_qty
{
  width:40px;
}

// =======================
// Text elements
// =======================
p
{
	margin-bottom:12px;
}
h1 {
  margin: 0  0 20px;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.25;
}

h2 {
  margin: 2px 0 2px;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
}
hr
{
  color: #888;
  background-color: #888;
  height: 1px;
  border:0;
  width: 100%;
  margin:10px 0 30px;
}
.title
{
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:30px;	
	margin-bottom:15px;
}
h3
{
	font-family:Arial, san-serif;
	font-size:32px;
	margin:15px 0 15px 0;
	text-align:center;
	color:#AAA;
}

strong {font-weight:bold;}
i {font-style:italic;}
em {color:red;}

// =======================
// Tables
// =======================
td
{
	padding:5px;
	color:#887653; 
}

table.finalise
{
	margin-bottom:20px;
}

table.finalise td
{
	width:100px;
}

th
{
	text-align:left;
}

// =======================
// Buttons
// =======================

.buttonylink,
input[type="submit"] {
	background:#25A6E1;
	background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9;
  cursor: hand; 
  cursor: pointer; 
  display: inline-block;
  text-decoration: none;
}

.topbar a
{
	color:white;
	font-weight:bold;
}

// =========
// Home page
// =========

#body_homepage .fields
{
}

// ================
// Error Validation
// ================
.error_explanation
{
  margin-bottom:20px; 
}

.error_explanation ul li
{
  font-size:12px;
  color:red;
}

.field_with_errors input
{
	border:solid 2px #FFA07A !important;
}

// ================
// Lists
// ================
ul
{
	list-style-type:disc;
	padding-left:15px;
}


// ================
// Sharing
// ================
.link
{
	text-align:center;
	color:#33F;
	word-break:break-all;
	font-weight:bold;
}




