!!! XML
!!!
%html
	%head
		%title=yield(:title_tag)
		= stylesheet_link_tag "application", :media => "all" 
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body{:id=>yield(:bodyid)}
		.topbar
			%p
				%a(href="/") Home
		.maincontainer
			= content_for?(:content) ? yield(:content) : yield
